.datetime {
    margin: 20px;
    display: flex;
}

.my-card-appt {
    margin-top: 50px;
}

.auth-card-appt {
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 10px auto;
    height: 550px;
    border-radius: 20px;
}

.drop-down-style {
    text-align: left;
    width: 300px;
    justify-content: center;
    height: 1px;
}

.selectOption {
    color: #f57f17 !important;
    background-color: #f57f17 !important;
}